CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mi-router-cr6608=y
CONFIG_PACKAGE_adblock=m
CONFIG_PACKAGE_adbyby=m
CONFIG_PACKAGE_appfilter=m
CONFIG_PACKAGE_coreutils=m
CONFIG_PACKAGE_coreutils-sort=m
CONFIG_PACKAGE_ipset=m
CONFIG_PACKAGE_kmod-nls-base=y
CONFIG_PACKAGE_kmod-nls-cp936=y
CONFIG_PACKAGE_kmod-oaf=m
CONFIG_PACKAGE_libipset=m
CONFIG_PACKAGE_libpcre=m
CONFIG_PACKAGE_librt=m
CONFIG_PACKAGE_luci-app-accesscontrol=m
CONFIG_PACKAGE_luci-app-adblock=m
CONFIG_PACKAGE_luci-app-adbyby-plus=m
CONFIG_PACKAGE_luci-app-appfilter=m
CONFIG_PACKAGE_luci-i18n-accesscontrol-zh-cn=m
CONFIG_PACKAGE_luci-i18n-adblock-zh-cn=m
CONFIG_PACKAGE_luci-i18n-adbyby-plus-zh-cn=m
CONFIG_PACKAGE_luci-i18n-appfilter-zh-cn=m
CONFIG_PACKAGE_luci-mod-dashboard=m
CONFIG_PACKAGE_luci-theme-argon=m
CONFIG_PACKAGE_luci-theme-bootstrap-mod=m
CONFIG_PACKAGE_luci-theme-material=m
CONFIG_PACKAGE_luci-theme-openwrt=m
CONFIG_PACKAGE_luci-theme-openwrt-2020=m
CONFIG_PACKAGE_wget-ssl=m
CONFIG_PACKAGE_zlib=m
